// Gilroy

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/Gilroy-Light.woff');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/Gilroy-Regular.woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/Gilroy-Medium.woff');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/Gilroy-Bold.woff');
   font-weight: 700;
   font-style: normal;
}

// Ginora-Sans

@font-face {
   font-family: 'Ginora-Sans';
   src: url('../fonts/Ginora-Sans-Light.woff');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Ginora-Sans';
   src: url('../fonts/Ginora-Sans-Regular.woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Ginora-Sans';
   src: url('../fonts/Ginora-Sans-Semi-Bold.woff');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Ginora-Sans';
   src: url('../fonts/Ginora-Sans-Bold.woff');
   font-weight: 700;
   font-style: normal;
}