.aside-menu {
   position: fixed;
   right: 0;
   top: 0;
   bottom: 0;
   width: 25rem;
   z-index: 100;
   transform: translateX(300%);
   transition: all .3s ease;

   background-color: $primary-dark-color;
   border-left: 1px solid $pattern-light-color;

   display: flex;
   flex-direction: column;

   &_active {
      transform: translateX(0);
   }

   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding: 3rem;
      background-color: #1a1a1a;
   }

   &__close {
      display: block;

      @media (min-width: 768px) {
         &:hover {
            background-color: $secondary-dark-color;
         }
      }

      svg {
         display: block;
      }
   }

   &__list {
      overflow: auto;
   }

   &__item {
      @media (min-width: 768px) {
         &:hover {
            background-color: $secondary-dark-color;
         }
      }

   }

   &__link {
      display: block;
      color: $secondary-light-color;
      text-align: left;
      padding: 1rem 3rem;
   }

   &__link-title {
      display: block;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: normal;
      color: $pattern-light-color;
   }

   &__link-descr {
      font-size: 1.2rem;
      line-height: normal;
   }
}

.logo_small img {
   max-width: 8rem;
}