.program-home {
   position: relative;
   margin: 5rem auto 0;
   max-width: 1160px;

   &__title {
      position: absolute;
      bottom: 3rem;
      left: 3rem;
      font-weight: 400;
      line-height: normal;

      span {
         display: block;
      }
   }
}

@media (max-width: 425px) {
   .program-home__title {
      left: 1rem;
      bottom: 1rem;
   }
}