.program-startaps {
   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5rem;
      margin-bottom: 12rem;
   }

   &__items {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      position: relative;
      max-width: 32rem;
      max-height: 42rem;
      overflow: hidden;

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         transition: all .5s ease;
         z-index: 1;
      }

      &:hover {
         &::after {
            background-color: rgba(0, 0, 0, .85);
         }

         .program-startaps__item-info {
            top: 50%;
            bottom: 0;
         }
      }
   }

   &__item-name {
      color: $pattern-light-color;
   }

   &__item-info {
      position: absolute;
      left: 1.5rem;
      right: 1.5rem;
      top: -300%;
      transform: translateY(-50%);
      z-index: 2;
      transition: all .5s ease;
   }

   &__item-title {
      font-size: 3.3rem;
      line-height: 4rem;
      margin-bottom: 1rem;
   }

   &__item-descr {
      font-size: 1.4rem;
      line-height: 2rem;
      margin-bottom: 3.5rem;
   }
}