.program-startaps {
   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5rem;
      margin-bottom: 12rem;
   }

   &__descr {
      max-width: 45rem;
   }

   &__item {
      position: relative;
      overflow: hidden;
      height: 100%;

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         transition: all .5s ease;
         z-index: 1;
      }

      @media (min-width: 768px) {
         &:hover {
            &::after {
               background-color: rgba(0, 0, 0, .85);
            }

            .program-startaps__item-info {
               top: 50%;
               bottom: 0;
            }
         }
      }

      &_active {
         &.program-startaps__item::after {
            background-color: rgba(0, 0, 0, .85);
         }

         .program-startaps__item-info {
            top: 50%;
            bottom: 0;
         }

         .program-startaps__item-close {
            opacity: 1;
            visibility: visible;
         }

         .program-startaps__item-btn {
            opacity: 0;
            visibility: hidden;
         }
      }
   }

   &__item-background {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__item-name {
      color: $pattern-light-color;
   }

   &__item-info {
      position: absolute;
      left: 1.5rem;
      right: 1.5rem;
      top: -300%;
      transform: translateY(-50%);
      z-index: 2;
      transition: all .5s ease;
   }

   &__item-title {
      font-size: 3.3rem;
      line-height: 4rem;
      margin-bottom: 1rem;
   }

   &__item-descr {
      margin-bottom: 3.5rem;
      color: $pattern-light-color;
   }

   &__item-close {
      position: absolute;
      right: 2rem;
      bottom: 2rem;
      z-index: 3;
      transition: all .5s ease;
      opacity: 0;
      visibility: hidden;
   }

   &__item-btn {
      position: absolute;
      right: 2rem;
      bottom: 2rem;
      transition: all .5s ease;
      opacity: 0;
      visibility: hidden;
   }
}

.swiper-buttons {
   display: flex;
   justify-content: flex-end;
   gap: 3rem;
   margin-top: 3rem;
}

.swiper-button-prev,
.swiper-button-next {
   position: initial !important;
   width: 8rem !important;
   height: 3rem !important;
   margin: 0 !important;
   &::after {
      display: none !important; 
   }
}

@media (max-width: 1024px) {
   .program-startaps {
      &__top {
         flex-wrap: wrap;
         margin-bottom: 5rem;
      }

      &__descr {
         max-width: unset;
      }
   }
}

@media (max-width: 768px) {
   .program-startaps {
      &__item-btn {
         display: block;
      }

      &__item-title {
         font-size: 2.4rem;
         line-height: 3rem;
      }

      &__item-btn {
         opacity: 1;
         visibility: visible;
         z-index: 3;
      }
   }
}