// colors

$primary-color: #99A9FF;
$secondary-color: #5CE4CF;

$primary-dark-color: #1D1D1D;
$secondary-dark-color: #232526;
$tertiary-dark-color: #30363A;
$pattern-dark-color: #000000;

$primary-light-color: #F4F4F4;
$secondary-light-color: #B8B8B8;
$tertiary-light-color: #b8b8b880;
$pattern-light-color: #FFFFFF;

$primary-gradient: linear-gradient(97deg, #99A9FF 20.47%, #5CE4CF 100%);;


// fonts

$ginora-font: 'Ginora-Sans', sans-serif;
$gilroy-font: 'Gilroy', sans-serif;

